@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Berkshire Swash", serif;
}
html,body{
    height:100%;
    width:100%;

}
:root{
--main--color:rgb(36, 173, 104);
--other--color:rgb(43, 6, 12);
}
main{
  
    width:100%;
}
nav{
    width:100%;
    height:50px;
    box-shadow: 1px 0px 10px rgb(36, 173, 104);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 5%;
    z-index: 999;
}
span{
    color:var(--main--color);
}
.links{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.links li{
    list-style: none;
}
.links li a{
    text-decoration: none;
    color:#000;
    margin:0px 16px;
    font-family: 'lato';
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s;
   
}
.links li a:hover{
    color:var(--main--color);
}
.home{
 display:flex;
 justify-content: space-between;
 align-items: center;
 width:100%;
 

}
.carousel {
    width:100%;
    height:70%;
    color:#000;
}

.carousel-item{
    height:40%;
    width:50%;
}
.carousel-inner img{
    width:100%;
    height:420px;
    object-fit: cover;
    object-position: center;
    
}
.carousel-control-next-icon{
    background-color:#000;
}
.carousel-control-prev-icon{
    background-color: #000;
}
.carousel-item p{
color:rgb(255, 255, 255);
font-family: 'lato';
}
.carousel-item h1{
    color:rgb(255, 255, 255);
    z-index: 999;
    
}
.four-boxes{
    width:100%;
 display:flex;
align-items: center;
justify-content: center;

}
.boxes{
    width:60%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:50px;
    
}
.box{
    width:180px;
    border-radius: 10px;
    overflow: hidden;
}
.box img{
    height:160px;
    width:100%;
    object-fit: cover;
}
.box h6{
font-family: 'lato';
font-weight: 600;
margin-top: 10px;
padding:2px;
}
.box button{
padding:5px 16px;
color: #fff;
background-color: rgb(36, 173, 104);
border:0;
outline:0;
width:100%;
cursor: pointer;
}
.box i{
color:orange;
}
.trending{
    color:#000;
    text-align: center;
    padding: 40px;
}
.new-arivals{
    padding:3%;
}
.arival-heading{
    text-align: center;
    height:50px;
    color:#000;
}
.arival-heading h1{
    color:#000;
}
.arival-boxes{
    width:100%;
    display:flex;
 flex-wrap: wrap;
 gap:15px;
 padding:4%;
 align-items: center;
 justify-content: center;
}
.a-box{
    height:230px;
    width:160px;
border-radius:10px;
overflow: hidden;
margin-top: 23px;
position: relative;
z-index: 4;
}
.a-box::after{
    position:absolute;
    content:"10% Off";
    height:50px;
    width:50px;
    color:#fff;
    background-color: rgb(36, 173, 104);
    display:flex;
    align-items: center;
    justify-content: center;
    top:1px;
    right:1px;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 50%;
    padding:3px;
    z-index: 6;
}
.a-box img{
    height:70%;
    width:100%;
    object-fit: cover;
    
}
.a-box h6{
    font-family: 'lato';
    margin:5px;
    font-weight: 700;
}
.a-box button{
    padding:5px 10x;
color: #fff;
background-color: rgb(36, 173, 104);
border:0;
outline:0;
width:100%;
cursor: pointer;
}
button{
    transition: 0.5s;
}
button:hover{
   scale:0.9;;
}
.products{
    width:100%;
    padding:4%;
}
.product-heading{
text-align: center;
}
.p-boxes{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-top: 26px;
}
.p-box{
    width:350px;
    height:200px;
    border-radius: 5px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition:0.5s;
}
.p-box:hover img{
    scale:1.1;
}
.p-box img{
    height:100%;
    width:100%;
    object-fit: cover;
    transition:0.5s;

}
.contact{
    width:100%;
    padding: 4%;
}
.contact-container{
    padding-bottom:20px;
    width:90%;
    margin:40px auto;
    background-color: rgb(36, 173, 104);
    color:rgb(0, 0, 0);
    text-align: center;
    padding-top:5%;
    border-radius:20px;
    
}
.contact-container p{
    font-family: 'lato';
}
form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
::placeholder{
    color:#fff;
}
form input{
    width:80%;
    padding:0px 10px;
    height:34px;
    border:0;
    outline:0;
    background: transparent;
    border-bottom: 2px solid #fff;


}
textarea{
    width:80%;
    padding:5px;
    border:0;
    outline:0;
    background:transparent;
    border:1px solid #fff
}
.sumbit{
    padding:10px 20px;
    color:rgb(36, 173, 104);
    background-color: #fff;
    outline:0;
    BORDER:0;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}
footer{
    width:100%;
    padding:4%;
    background-color: #000;
    color:#fff;
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}

footer li{
    margin-top: 6px;
    color:rgb(171, 170, 170);
}
footer b{
    font-size: 16px;
}
footer li,b,a{
    list-style: none;
    font-family: 'lato';
}
footer li a{
    color:rgb(171, 170, 170);
    text-decoration: none;
}
.icons-f i{
    margin:0px 15px;
    font-size: 17px;
    background-color: rgb(36, 173, 104);
    padding:7px;
    border-radius: 6px;
    cursor: pointer;
}
.copyright{
    width:100%;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    height:30px;
    background-color: rgb(36, 173, 104);
}
.copyright p{
    font-family: 'lato';
    padding-top:10px;
}
.menu{
    display:none;
    z-index: 999;
}
.menu span{
    height:3px;
    width:23px;
    background-color:rgb(0, 0, 0);
    border-radius: 10px;
    display:block;
    margin-top: 3px;
}
@media (max-width:730px) {
    .links{
        position: absolute;
        top:-300px;
        left:0;
        transition: all 0.5s;
    }
    .menu{
        display:block;
    }
    .links-active{
        position: absolute;
        top:0;
        transition: all 0.5s;
        width:100%;
        left:0;
        height:50vh;
         display:flex;
         z-index: 666;
        align-items: center;
        justify-content: center;
        gap:14px;
        flex-direction: column;
        background-color: rgb(36, 173, 104);
        backdrop-filter: blur(50px);
    }
}